<style>h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0
  }
  
  body,
  figure,
  ul {
    margin: 0
  }
  
  .main,
  .noscroll,
  .pagination {
    overflow: hidden
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px
  }
  
  ::-webkit-scrollbar-track {
    background: 0 0
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 3px
  }
  
  html {
    -webkit-tap-highlight-color: transparent
  }
  
  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  main,
  nav,
  section {
    display: block
  }
  
  body {
    font-family: 'PT Sans', sans-serif;
    color: rgba(0, 0, 0, .8);
    font-size: 18px;
    line-height: 1.7
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2
  }
  
  ul {
    padding: 0
  }
  
  a {
    color: inherit;
    text-decoration: none
  }
  
  img {
    max-width: 100%;
    vertical-align: middle
  }
  
  button,
  input,
  textarea {
    -webkit-appearance: none;
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
    outline: 0
  }
  
  .header,
  .list-footer,
  .list-header {
    padding-left: 30px;
    padding-right: 30px
  }
  
  .list .main,
  .single .main {
    padding-bottom: 30px
  }
  
  button,
  input[type=button],
  input[type=submit] {
    cursor: pointer
  }
  
  code,
  pre {
    font-family: Menlo, Consolas, monospace;
    font-size: inherit
  }
  
  .list {
    background: #fafafa
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    line-height: 65px
  }
  
  .home .header {
    background: #fff
  }
  
  .title a {
    display: block;
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px
  }
  
  .list-footer,
  .list-header {
    margin-top: 30px
  }
  
  .menu-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 80px;
    height: 65px
  }
  
  .menu-toggle::after,
  .menu-toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #000
  }
  
  .menu ul,
  .post-link {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
  }
  
  .menu-toggle::before {
    transform: translate3d(-50%, -5px, 0)
  }
  
  .menu-toggle::after {
    transform: translate3d(-50%, 4px, 0)
  }
  
  .noscroll .menu-toggle::before {
    transform: translate3d(-50%, -1px, 0) rotateZ(45deg)
  }
  
  .noscroll .menu-toggle::after {
    transform: translate3d(-50%, -1px, 0) rotateZ(-45deg)
  }
  
  .menu {
    display: none
  }
  
  .noscroll .menu {
    display: block
  }
  
  .menu ul {
    position: fixed;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
  }
  
  .first-entry,
  .post-entry {
    position: relative;
    background: #fff
  }
  
  .menu li {
    width: 100%;
    margin-left: 0
  }
  
  .menu a {
    font-size: 20px
  }
  
  .main {
    min-height: calc(100vh - 130px)
  }
  
  .first-entry>*,
  .list-footer,
  .list-header,
  .post-entry {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto
  }
  
  .list-header {
    margin-bottom: 30px
  }
  
  .single .main {
    padding-top: 60px
  }
  
  .post-view {
    width: 700px;
    margin-left: auto;
    margin-right: auto
  }
  
  .list-header span {
    color: rgba(0, 0, 0, .4);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
  }
  
  .list-title {
    font-size: 50px
  }
  
  .post-meta {
    margin-top: 5px;
    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    letter-spacing: .5px
  }
  
  .first-entry {
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 120px
  }
  
  .welcome-emoji {
    font-size: 60px;
    line-height: 1
  }
  
  .first-entry .post-title {
    font-size: 50px
  }
  
  .post-summary {
    margin-top: 10px;
    color: rgba(0, 0, 0, .4)
  }
  
  @media (max-width:767px) {
    .main {
      min-height: calc(100vh - 155px)
    }
    .first-entry>*,
    .list-footer,
    .list-header,
    .post-entry,
    .post-view {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px
    }
    .first-entry {
      margin-bottom: 25px
    }
  }
  
  .post-entry {
    border-radius: 6px;
    border: solid #ccc 1px;
  }
  
  .post-entry:active {
    transform: scale(.98);
    transition: transform .1s
  }
  
  .post-entry+.post-entry {
    margin-top: 25px
  }
  
  .post-entry:hover {
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, .1)
  }
  
  .post-entry .post-title {
    font-size: 30px
  }
  
  .post-link {
    position: absolute
  }
  
  .post-view .post-title {
    font-size: 45px
  }
  
  .post-content {
    padding-top: 30px;
    word-wrap: break-word
  }
  
  .post-content h1,
  .post-content h2 {
    margin-bottom: 15px
  }
  
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    color: rgba(0, 0, 0, .4);
    font-weight: 400;
    margin-bottom: 10px
  }
  
  .post-content h1 {
    font-size: 40px;
    margin-top: 50px
  }
  
  .post-content h2 {
    font-size: 34px;
    margin-top: 40px
  }
  
  .post-content h3 {
    font-size: 28px;
    margin-top: 30px
  }
  
  .post-content h4 {
    font-size: 24px
  }
  
  .post-content h5 {
    font-size: 20px
  }
  
  .post-content h6 {
    font-size: 18px
  }
  
  .post-content a {
    border-bottom: 1px solid rgba(0, 0, 0, .8)
  }
  
  .post-content dl,
  .post-content ol,
  .post-content p,
  .post-content ul {
    margin-bottom: 20px
  }
  
  .post-content ol,
  .post-content ul {
    padding-left: 20px
  }
  
  .post-content li {
    margin-bottom: 10px
  }
  
  .post-content li>ol,
  .post-content li>ul {
    margin-top: 10px;
    margin-bottom: 0
  }
  
  .post-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0
  }
  
  .post-content dt {
    width: 25%;
    font-weight: 700
  }
  
  .post-content dd {
    width: 75%;
    margin-left: 0;
    padding-left: 10px
  }
  
  .post-content dd~dd,
  .post-content dt~dt {
    margin-top: 10px
  }
  
  .post-content pre,
  .post-content table {
    margin-top: 30px;
    margin-bottom: 30px
  }
  
  .post-content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
  }
  
  .post-content td,
  .post-content th {
    padding: 12px;
    border: 1px solid #eee
  }
  
  .post-content th {
    text-align: left
  }
  
  .post-content pre {
    padding: 20px;
    background: #fafafa;
    border-radius: 6px
  }
  
  .post-content pre code {
    padding: 0;
    background: 0 0;
    border-radius: 0
  }
  
  .post-content code {
    padding: 3px 6px;
    font-size: 15px;
    background: #fafafa;
    border-radius: 3px
  }
  
  .post-content blockquote {
    margin: 0 0 0 -23px;
    padding: 0 0 0 20px;
    color: rgba(0, 0, 0, .6);
    font-style: italic;
    border-left: 3px solid rgba(0, 0, 0, .8)
  }
  
  .post-content hr {
    margin-top: 70px;
    margin-bottom: 70px;
    border: solid rgba(0, 0, 0, .1);
    border-width: 1px 0 0
  }
  
  .post-content iframe {
    max-width: 100%
  }
  
  .post-view .post-tags {
    margin-bottom: 30px
  }
  
  .post-tags li {
    display: inline-block
  }
  
  .post-tags a {
    display: block;
    padding: 6px 16px;
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
    background: #f5f5f5;
    border-radius: 3px
  }
  
  .post-tags li+li {
    margin-left: 3px
  }
  
  .post-tags a:hover {
    background: #eee
  }
  
  @media (max-width:767px) {
    .post-content blockquote {
      margin: 0 0 0 -30px;
      padding: 0 0 0 27px
    }
  }
  
  .pagination {
    display: flex
  }
  
  .pagination a {
    display: block;
    line-height: 30px
  }
  
  .pagination-next {
    margin-left: auto
  }
  
  .not-found {
    text-align: center;
    font-size: 180px;
    font-weight: 700;
    line-height: calc(100vh - 300px)
  }
  
  .footer {
    padding: 20px;
    font-size: 14px;
    line-height: 25px;
    text-align: center
  }
  
  .footer span {
    margin-left: 2px;
    margin-right: 2px
  }
  
  .footer a:hover {
    text-decoration: underline
  }
  
  @media (max-width:767px) {
    .footer span:last-child {
      display: block
    }
    .footer span:nth-child(2n) {
      display: none
    }
  }

  @media (max-width:1024px) {
    #menu-content {
      display: none;
    }
  }
  
  .logo {
    width: 30px;
    margin-right: 10px
  }
  
  .header-menu {
    display: block
  }
  
  .tweet-warn {
    display: inline
  }
  .menu-collapsed {
    display: none;
  }

  .menu-open {
    display: block;
  }
  
  </style>
  
  