<p class="h-card vcard">
  <a style="text-decoration: none" href="{{ .Site.BaseURL }}" class="p-name u-url url author metatag" rel="me">
    {{ .Site.Params.author }} 🤘
  </a>
  <time>{{ now.Year }} </time>
  <div>
    <a class="p-nickname u-email email metatag" rel="me" href="mailto:{{ .Site.Params.email }}">
      {{ .Site.Params.email }}
    </a> |
    <a class="p-nickname twitter metatag" rel="me" href="https://twitter.com/{{ .Site.Params.twitter }}">
        {{ .Site.Params.twitter }}
      </a>
  </div>
</p>