{{ partial "header.html" . }}
{{ if not .IsHome }}
<header class="list-header">
  {{ if eq .Data.Singular "tag" }}<span>Tagged in</span>
  <h1 class="list-title">{{ humanize .Data.Term }}</h1>
  {{ else }}<h1 class="list-title">Posts</h1>
  {{ end }}
</header>
{{ end }}
{{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") (index .Site.Params "paginate" | default 5) }}
{{ if gt $paginator.TotalPages 0 }}
{{ range $index, $page := $paginator.Pages }}
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
{{ .Scratch.Set "postClass" "post-entry" }}
{{ .Scratch.Set "firstEmoji" "<span class=\"welcome-emoji\">👉</span>" }}
{{ else }}
{{ .Scratch.Set "postClass" "post-entry" }}
{{ end }}

<article class="post {{ .Scratch.Get `postClass` }}">
    {{ if .Params.image }}
      <img class="w-full" src="{{.Params.image}}">
    {{ end }}
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ .Title }}</div>
      <p class="text-gray-700 text-base">
        {{ if .Params.micro }}
          <div class="post-content">{{ .Content }}</div>
        {{ else }}
        {{ .Summary | plainify | htmlUnescape }}...
        {{ end}}
      </p>
      <p class="post-meta"><time>{{ .Date.Format "2/1/2006" }}</time></p>
    </div>
    <div class="px-6 py-4">
        {{ if .Params.tags }}
          {{ range .Params.tags }}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
              <a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a>
            </span>
          {{ end }}
        {{ end }}
    </div>
    <a alt="{{ .Title }}" class="post-link" href="{{ .Permalink }}"></a>
    <div class="px-6 py-4">
      {{ if .Params.tweet }}
        <span>
          <img class="tweet-warn" alt="Post imported from Twitter" title="Post imported from Twitter" src="/images/from-twitter.png">
            <i>Este texto foi originalmente postado no Twitter</i>
        </span>
      {{ end }}
    </div>
    
</article>

{{ end }}
{{ end }}
{{ if gt $paginator.TotalPages 1 }}
<footer class="list-footer">
  <nav class="pagination">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="pagination-prev bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
        ← Prev Page
      </a>
    {{ end }}
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="pagination-next bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
        Next Page →
      </a>
    {{ end }}
  </nav>
</footer>
{{ end }}
{{ partial "footer.html" . }}
