{{ partial "header.html" . }}
<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/default.min.css" rel="stylesheet">
<article class="post post-view">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      {{ .Params.author | default .Site.Params.author }} · {{ end }}
      <time>{{ .Date.Format "2/1/2006" }}</time>
    </p>
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    <div class="px-6 py-4">
        {{ if .Params.tags }}
          {{ range .Params.tags }}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
              <a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a>
            </span>
          {{ end }}
        {{ end }}
    </div>
  </footer>
  <div class="px-6 py-4">
      {{ if .Params.tweet }}
        <span>
          <img class="tweet-warn" alt="Post imported from Twitter" title="Post imported from Twitter" src="/images/from-twitter.png">
            <i>Este texto foi originalmente postado no Twitter</i>
        </span>
      {{ end }}
    </div>
  </div>
</article>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js" data-no-instant></script>
<script data-no-instant>
  hljs.initHighlightingOnLoad();
</script>
{{ partial "footer.html" . }}
